.canvas {
    height: 100% !important;
    width: 100% !important;
    //display: block;
}

.page {
    position: relative;
    width: 90% !important;
}

.navi {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    button {
        border: 0;
        background: transparent;

        &:hover:not(:disabled) {
            svg {
                stroke: green;
            }
        }
    }
}